.main{
    margin:4rem;
    background-color: var(--color-black);
    height: 840px;
}
.secondary{
    padding: 8rem 4rem;
    background-color: #262626;
}
.footer{
    background-color: var(--color-black);

}