.container{
    
    
}
.footer{
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tabs{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.image{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}