.container{
    margin-bottom: 200px;

}
.heading{
    font-size:54px ;
    font-weight: 600;
    margin-bottom: 14px;
}
.body{
    display: flex;
    gap:20px;
}
.desc{
    width:600px;
    opacity :30%;
    font-weight: 500;
    font-size: 18px;
    padding-right: 200px;

}
.rightTab{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.subHead{
    font-weight: 600;
    font-size: 24px;
}
.subDesc{
    opacity :30%;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}
.optionCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, .05);
    
}
.option{
    font-weight: 600;
    font-size: 24px;
    
    padding: 40px 0px 0px 0px;

}